# =========================
# MAVEN
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# =========================
# JAVA
# =========================
*.class
*.log
*.ctxt

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# INTELLIJ 
# =========================
.idea/
*.iml

# =========================
# ECLIPSE 
# =========================
.project
.classpath
.settings/

# =========================
# WINDOWS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# OUTROS
# =========================
*.tmp
*.swp
/bin/
